/* .ext_div {
  position: absolute;
  top: 9vh;
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_div {
  width: 60%;
  height: 90%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.leftside_portion {
  width: 38%;
  height: 100%;
  border-right: 1px solid lightgray;
  overflow-y: auto;
}
.user_detail {
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  height: 62px;
  z-index: 10;
  background: rgb(255, 253, 253);
  width: 21vw;
  border-bottom: 1px solid lightgray;
}
.userName {
  font-weight: 600;
  text-align: center;
  font-size: 2vh;
  font-family: emoji;
  overflow: hidden;
}
.userNames {
  height: 10vh;
  margin-top: 13vh;
  margin-left: 1vw;
  font-family: cursive;
}
.userimg {
  display: block;
  position: relative;
  left: 1.8vw;
  margin-top: 1vh;
  width: 45px;
  object-fit: contain;
  height: auto;
  border-radius: 50px;
  cursor: pointer;
}

.username {
  position: relative;
  top: -7vh;
  left: 28%;
  cursor: pointer;
}

.rightside_portion {
  position: absolute;
  top: 4vh;
  left: 42.87vw;
  height: 72vh;
  width: 37vw;
}
.chatHeader {
  position: absolute;
  top: 1vh;
  padding-left: 1vw;
  padding-top: 1vh;
  height: 62px;
  z-index: 10;
  background: rgb(255, 253, 253);
  width: 37vw;
  border-bottom: 1px solid lightgray;
}
.chatUserImg {
  position: relative;
  left: 1.8vw;
  margin-top: 1vh;
  width: 40px;
  object-fit: contain;
  height: auto;
  border-radius: 50px;
  cursor: pointer;
}
.chatUserName {
  font-weight: 600;
  position: relative;
  left: 4vw;
  font-size: larger;
  top: -5vh;
}

.chatInput {
  position: absolute;
  top: 60vh;
  border: 1px solid lightgray;
  left: 1vw;
  width: 34vw;
  border-radius: 55px;
  height: 7vh;
  padding: 24px;
}
.sendButton {
  position: absolute;
  top: 62vh;
  left: 29vw;
  border: 0px;
  opacity: 0.5;
}
.messagePart {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  
  overflow-y: scroll;
  height: 6vh;
  top: 51vh;
}
.messagePart::-webkit-scrollbar {
  display: none;
}
.initialchatView {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.arrimg {
  width: 10vw;
  object-fit: contain;
}
.text {
  font-size: 4vh;
}

@media all and (max-width: 936px) {
  .center_div {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  .user_detail {
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    height: 62px;
    z-index: 10;
    background: rgb(255, 253, 253);
    width: 35vw;
    border-bottom: 1px solid lightgray;
    margin-top: 1vh;
  }
  .username {
    position: relative;
    top: -7vh;
    left: 69%;
    font-size: 3vh;
    cursor: pointer;
  }
  .userNames {
    height: 10vh;
    margin-top: 15vh;
    margin-left: 1vw;
    width: 15vw;
  }
  .rightside {
    position: absolute;
    top: 1vh;
    left: 38vw;
    height: 79vh;
    width: 60vw;
  }

  .rightside_portion {
    position: absolute;
    top: 1vh;
    left: 37.87vw;
    display: flex;
    height: 79vh;
    width: 62vw;
    align-items: center;
    justify-content: center;
  }
  .chatUserName {
    font-weight: 600;
    position: absolute;
    left: 13vw;
    font-size: larger;
    top: 3vh;
  }
  .chatHeader {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 62px;
    z-index: 10;
    background: rgb(255, 253, 253);
    width: 60vw;
    border-bottom: 1px solid lightgray;
  }
  .chatInput {
    position: absolute;
    top: 65vh;
    border: 1px solid lightgray;
    left: 1vw;
    width: 56vw;
    border-radius: 55px;
    height: 7vh;
    padding: 24px;
  }
  .sendButton {
    position: absolute;
    top: 67vh;
    left: 41vw;
    border: 0px;
    opacity: 0.5;
  }
} */
.ext_div {
  width: 100vw;
  height: 100vh;
  background-color: rgb(241, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.center_div {
  width: 70vw;
  height: 80vh;
  box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  display: flex;
}
