.ext_div {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
}
.center_div {
  width: 70vw;
  min-width: 556px;
  height: 80vh;
  box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  display: flex;
}
