.ext_div {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px 10px 20px;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  box-shadow: -3px 4px 10px -5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.links {
  display: flex;
  align-items: center;
  width: 230px;
  justify-content: space-around;
}

.header__input {
  display: flex;
  align-items: center;
}
.header__input > input {
  outline: none;
  padding: 2px 5px 2px 88px;
  border: 1px solid rgb(231, 224, 224);
}

@media all and (max-width: 650px) {
  .header__input {
    display: none;
  }
}
