.ext_div{
    padding: 2%;
    width:100%;
    height: 10%;
    border-bottom: 1px solid lightgrey;
    background-color:white;
    display: flex;
    align-items: center;
}
.active{
    padding: 4vw;
    position: absolute;
    left: 9%;
    object-fit: contain;
}
.input{
   position: absolute;
   left:35vw;
   width: 18%;
   height: 4%;
   border: 1px solid lightgray;
   border-radius: 2px ;
   padding-left: 7%;
}
.hIcon{
    position: absolute;
    right: 30%;
    margin-bottom: 4vh;
    width:27px;
    height: auto;
    object-fit: contain;
   
}

.hIcon:hover{
    cursor: pointer;
}
.hrtIcon{
    position: absolute;
    right: 18%;
    
    width:27px;
    height: auto;
    object-fit: contain;
   
}

.hrtIcon:hover{
    cursor: pointer;
}
.arrIcon{
    position: absolute;
    right: 27%;
    top: 19px;
    width:27px;
    object-fit: contain;
    height: auto;
   
}

.arrIcon:hover{
    cursor: pointer;
}
.userimg{
    position: absolute;
    right: 14%;
    
    width:27px;
    object-fit: contain;
    height: auto;
   
    border-radius: 50px;
}
.userimg:hover{
    cursor: pointer;
}
.cpsIcon{
    position: absolute;
    
    right: 22%;
    width:27px;
    height: auto;
    object-fit: contain;
   
}

.cpsIcon:hover{
    cursor: pointer;
    
}
@media all and (max-width: 824px)  {
    .ext_div{
        padding: 2%;
        width:100%;
        height: 10%;
        border-bottom: 1px solid lightgrey;
        background-color:white;
        display: flex;
        align-items: center;
    }
    .input{
        position: absolute;
       top:-100%;
     }

     .hIcon{
     position: absolute;
    right: 36%;
   
    width: 32px;
    height: auto;
    object-fit: contain;
   
}
.arrIcon{
    position: absolute;
    right: 29%;
    width: 31px;
    object-fit: contain;
    height: auto;
}
.cpsIcon{
    position: absolute;
    right: 22%;
    width: 31px;
    height: auto;
    object-fit: contain;
}
.hrtIcon{
    position: absolute;
    right: 15%;
    width: 30px;
    height: auto;
    object-fit: contain;
}
.userimg{
    position: absolute;
    right: 8%;
    width: 31px;
    object-fit: contain;
    height: auto;
    border-radius: 50px;
}
  }