.container{
    overflow-y: hidden;
}
.storySection{
    margin-top: 14vh;
    margin-bottom: 6vh;
    max-width: 500px; 
    height: 14vh;
    display: flex;
    background-color: white;
    margin-left: 13vw;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 2px;
    flex-direction: row;
    overflow-x: scroll;
    
   
}
.userStoryImg{
    margin: 1vw 1vw;
}
.storyImg{
    width: 46px;
    height: auto;
    padding: 3px 3px;
    object-fit: contain;
    border: 1px solid rgb(243, 38, 38);
    border-radius: 123px;
}

@media all and (max-width: 595px)  {
    .storySection{    
        margin-top: 10vh;
        margin-bottom: 0px;
         max-width: 100%;
         height: 12vh;
        background-color: white;
        margin-left: 0px; 
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        border: 1px solid lightgray;
        border-radius: 2px;
    }
    
.userimg{

    width: 10%;
    object-fit: contain;
    height: auto;
    border: 2px solid rgb(243, 43, 43);
    margin-top: 1.8vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
}
}