.storySection{
    margin-top: 4vh;
    margin-bottom: 6vh;
    max-width: 500px; 
    height: 10vh;
 
    background-color: white;
    margin-left: 13vw;
    border: 1px solid lightgray;
    border-radius: 2px;
     
    
   
}
.userimg{

    width: 10%;
    object-fit: contain;
    height: auto;
    border: 2px solid rgb(243, 43, 43);
    margin-top: 1vh;
    margin-left: 10px;
    
    margin-right: 10px;
    border-radius: 50px;
}

@media all and (max-width: 595px)  {
    .storySection{
        margin-top: 0px;
    margin-bottom: 0px;
        
        max-width: 100%;
        height: 14vh;
        background-color: white;
        margin-left: 0px; 
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        border: 1px solid lightgray;
        border-radius: 2px;
    }
    
.userimg{

    width: 10%;
    object-fit: contain;
    height: auto;
    border: 2px solid rgb(243, 43, 43);
    margin-top: 1.8vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
}
}