.post_container {
  margin-top: 3vh;
  margin-bottom: 8vh;
  max-width: 31rem;
  height: auto;
  background-color: white;
  margin-left: 13vw;
  border: 1px solid lightgray;
  border-radius: 2px;
}
.user_img {
  border-top: 10px solid #fafafa;
  border-radius: 2px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.post_caption {
  font-weight: normal;
}
.post_header {
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 10vh;
  padding: 1vw;
  border-bottom: 1px solid lightgray;
  border-radius: 2px;
}
.dblclickHrt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  animation: showHeart 1s linear;

  -webkit-animation: showHeart 1s linear;
}
@keyframes showHeart {
  100% {
    opacity: 0;
    transform: skew(100);
  }
}
.hrtIcon {
  position: absolute;
  right: 52%;
  width: 1.7%;
  height: auto;
}

.hrtIcon:hover {
  cursor: pointer;
}
.post_header_img {
  margin-right: 10px;
}
.postIcons {
  display: flex;
  align-items: center;
  width: 20vw;
  padding-top: 10px;

  height: 7vh;
}
.cmntIcon {
  width: 27px;
  margin-right: 6px;
  height: auto;
  object-fit: contain;
}

.cmntIcon:hover {
  cursor: pointer;
}
.hrtPIcon {
  margin-right: 6px;
  width: 27px;
  height: auto;
  object-fit: contain;
}

.hrtPIcon:hover {
  cursor: pointer;
}
.arrIcon {
  margin-right: 6px;
  width: 27px;
  object-fit: contain;
  height: auto;
}

.arrIcon:hover {
  cursor: pointer;
}

.belowPost {
  padding-left: 7px;
  font-family: serif;

  width: 100%;
  height: auto;
}

.post {
  position: absolute;
  top: 3px;
  right: 2vw;
  opacity: 0.5;
}

.post:hover {
  cursor: pointer;
  font-size: bold;
  opacity: 1;
  color: rgb(19, 125, 163);
}
div .dots {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.dots {
  cursor: pointer;
  font-weight: bolder;
  opacity: 0.6;
}

@media all and (max-width: 595px) {
  .post_container {
    margin-top: -1vh;
    margin-bottom: 0vh;
    margin-left: 0px;
    max-width: 100%;
    height: auto;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
  }
  .hrtIcon {
    position: absolute;
    right: 9%;
    width: 5.7%;
    height: auto;
  }
}
