.post_container{
    margin-top: 3vh;
    margin-bottom: 8vh;
    max-width: 500px; 
    height: auto;
    background-color: white;
    margin-left: 13vw;
    border: 1px solid lightgray;
    border-radius: 2px;
}
.user_img{
    border-top: 10px solid #fafafa;
    border-radius: 2px;
    width:100%;
    height:auto;
    object-fit: contain;

}
.post_caption{
    font-weight: normal;
    padding-left: 1vw;
}
.post_header{
    display: flex;
    align-items: center;
    padding-left: 1vw;
    border-bottom: 1px solid lightgray;
    border-radius: 2px;
    
    
}

.post_header_img{
    
    margin-right: 10px;

}