.sidebar {
  flex: 0.35;
  display: flex;
  flex-direction: column;
}
.sidebar_header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-right: 1px solid lightgray;
}
.sidebar_header > p {
  font-size: larger;
  /* text-align: center; */

  font-weight: 700;
}
.headerRight {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  /* flex: 1; */
}
.headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
.sidebar_searchBar {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}
.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 35px;
}
.searchContainer > input {
  border: none;
  margin-left: 10px;
}
searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}
.sidebar_chats {
  flex: 1;
  background-color: white;
  overflow: scroll;
}
