.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.container:hover {
  background-color: #ebebeb;
}
.sidebarchat_info {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
