.sugestion_userSection {
  display: flex;
  align-items: center;
  flex: 1;

  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  flex-wrap: wrap;
}
.user_follow_style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}
